<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaFS" version="2.2.6" targetFramework="net48" />
  <package id="envdte" version="17.8.37221" targetFramework="net48" />
  <package id="envdte80" version="17.8.37221" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.8.37221" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.8.37221" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net48" />
  <package id="PostSharp" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics.Log4Net" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Model" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Model.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="PostSharp.Redist" version="2024.0.5" targetFramework="net48" />
  <package id="stdole" version="17.8.37221" targetFramework="net48" />
  <package id="Vsxmd" version="1.4.5" targetFramework="net48" developmentDependency="true" />
</packages>